/*Back to Top*/
html,
  body {
    scroll-behavior: smooth;
  }
.BtnTop {
  display: none;
  position: fixed;
  bottom: 2px;
  right: 3px;
  z-index: 99;
  font-size: 13px;
  border: none;
  outline: none;
  background-color: #6244bb;
  color: white;
  cursor: pointer;
  padding: 13px;
  border-radius: 2px;
  opacity: 0.7;
}

.BtnTop:hover {
  background-color: #745ac4;
  opacity: 1.0;
}

.no-show {
  padding: 0 3rem;
  position: relative;
  max-width: auto;
  margin: 0;
}
.no-show *:last-child {
  margin-bottom: 0;
}

.back-to-top-wrapper {
  position: absolute;
  top: 300vh;
  right: 0.25rem;
  bottom: -5em;
  width: auto;
  pointer-events: none;
}

.back-to-top-link {
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  pointer-events: all;
  top: calc(100vh - 5rem);
  display: inline-block;
  text-decoration: none;
  
  -webkit-transition: -webkit-transform 80ms ease-in;
  transition: -webkit-transform 80ms ease-in;
  transition: transform 80ms ease-in;
  transition: transform 80ms ease-in, -webkit-transform 80ms ease-in;
}
.back-to-top-link:hover, .back-to-top-link:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.back-to-top-link:focus {
  outline: none;
  box-shadow: 0 0 0 0.5px #6244bb;
}

/*Gallery Container*/
.img-gallery {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 500px));
  justify-content: center;
  column-gap: 15px;
  row-gap: 7vmin;
  padding: 0;
  box-sizing: border-box;  
}
.gallery-align {
  width: 100%;
  height: 100%;  
}
.gallery-align:hover {
  border: 0.5px solid #6244bb;  
}
.gallery-responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*Shadow Container*/
.gal-shw {
  position: relative;
  width: auto;
  margin: auto;
  overflow: hidden;
}
.galshw-image {
  width: 100%;
}
/*Text Effects*/
.galshw-details {
  position: absolute;  
}
/*Caption Text*/
.gal-caption {
text-align: center;
font-size: 1em;
margin:5px;
font-weight: 500;

}
/*ACCORDION CONTENT*/

.ua_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
  height:auto;  
}
.ua_inner-list {
  padding: 10px;
  overflow: auto;
  border-bottom: 1px solid #eee;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;  
}
.ua_inner-list:hover {
  background: #eee;
  cursor: pointer;
  transition: background 0.5s, opacity 1s;
  
}
.ua_inner-list a:link {
  text-decoration: none;
}
.ua_inner-list a:visited {
  text-decoration: none;
}
.ua_inner-list a:link {
    color: inherit;
}
.ua_inner-list a:visited {
  color: inherit;
}
/* mouse over link */
.ua_inner-list a:hover {
  color: inherit;
}
/* selected link */
.ua_inner-list a:active {
  color: inherit;
}
/*MOBILE VIEWPORT*/
@media only screen and (max-width: 640px) {
  .img-gallery {
    margin: 0;
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 50px;
    padding: 20px;
  }  
  .gal-caption {
    text-align: center;
    font-size: 1.2em;
    margin-top: 5px;
    }    
    .gal-shw {
     overflow: visible;
    }
}
